<ion-header>
  <ion-toolbar>
    <ion-title>Back</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="workouts"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list class="ion-no-padding" *ngFor=" let back of back; index as i">
  <ion-item button="true" [routerLink]="['info',i]" *ngIf="back.category.name === 'Back'&& back.language.short_name === 'en'">
    <ion-label>{{back.name}}</ion-label>
  </ion-item>
</ion-list>
</ion-content>
