<ion-header>
  <ion-toolbar>
    <ion-title>calorielog</ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-card>
          <ion-card-header>
            <ion-card-title>Calories Section</ion-card-title>
          </ion-card-header>
            <ion-card-content>
               Where we will put what type of food we are eating after we log our 
            </ion-card-content>

      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Daily Calorie Intake</ion-card-title>
        </ion-card-header>
          <ion-card-content>
              <ion-list>
                <ion-list-header>
                  <ion-label>Breakfast</ion-label>
                  <ion-button>Add</ion-button>
                </ion-list-header>
                <ion-list-header>
                  <ion-label>Lunch</ion-label>
                  <ion-button>Add</ion-button>
                </ion-list-header>
                <ion-list-header>
                  <ion-label>Dinner</ion-label>
                  <ion-button>Add</ion-button>
                </ion-list-header>
              </ion-list>
          </ion-card-content>
      
          
    </ion-card>
    </ion-col>
  </ion-row>

</ion-grid>
