<ion-header>
  <ion-toolbar>
    <ion-title>INFO</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="workouts"></ion-back-button>
      

      <h1></h1>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="container">
    <ion-label class="ion-padding"><h1>{{leg['name']}}</h1></ion-label>
    <h1></h1>
    
      {{leg['description']}}
      <ion-img src="{{leg['images.image']}}"></ion-img>

      <ion-label>{{leg['equipment.name']}}</ion-label>
    
    
  </div>

</ion-content>