<ion-header>
  <ion-toolbar>
    <ion-title>Recipe</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="breakfast"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-list *ngFor="let recipe of recipe">
  <ion-img [src]="recipe.image" class="ion-no-padding"></ion-img>
  <ion-label class="ion-padding"><h1>{{recipe.name}}</h1></ion-label>
  <ion-text color="primary">
    <ul *ngFor="let i of recipe['ingredients']">
      <li>{{i}}</li>
    </ul>
  </ion-text>
  <p *ngFor="let x of recipe['instructions']">{{x}}</p>
  
</ion-list>
</ion-content>
