<ion-header>
  <ion-toolbar>
    <ion-title><h1>HealthMe</h1></ion-title>
  </ion-toolbar>
</ion-header>


<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-card>
          <ion-card-header>
            <ion-card-title>Calories Section</ion-card-title>
            <ion-card-content>
              Log our calories
            </ion-card-content>
          </ion-card-header>

      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Daily Calorie Intake</ion-card-title>
        </ion-card-header>
          <ion-card-content>
            <ion-list >
              <ion-list-header>
                <ion-label *ngfor="let list of eats">{{list.name}}</ion-label>
                <ion-button>Add</ion-button>
              </ion-list-header>
            </ion-list>
          </ion-card-content>
      
          
    </ion-card>
    </ion-col>
  </ion-row>
  <ion-col size="12">
    <ion-card>
      <ion-card-header class="ion-no-padding">
        <ion-card-title class="ion-padding">Workouts</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>

</ion-grid>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calorielog">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Calorie Log</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="exercise">
      <ion-icon name="fitness"></ion-icon>
      <ion-label>Exercises</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="recipes">
      <ion-icon name="nutrition"></ion-icon>
      <ion-label>Recipes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>



 
